body {
    margin: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spin-container {
    width: 350px;
    height: 350px;
}

#spin {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
